/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Responsive Images----------------- */
img{
  max-width:100%;
  height:auto;
}

/* ---------------Utility Classes----------------- */

.container{
  width:85vw;
  margin: 40px auto;
  max-width:900px;
}

.img-right{
  float:right;
  border:3px solid khaki;
  padding:5px 5px 20px 5px;
}

table{
  width:100%;
  border:2px solid palevioletred;
  border-collapse:collapse;
}

table tr:nth-child(even){
  background-color:thistle;
  color:white;
}

table tr:hover{
  color:violet;
}

table td{
  border:2px solid palevioletred;
  padding:4px;
}

table th{
  background-color:mediumpurple;
  color:white;
  width:35%;
  padding:7px;
}

table caption{
  color:indigo;
  padding:8px;
  font-weight:bold;
  font-size:30px;
}

#additional-elements ol{
  list-style-type:decimal;
}

#additional-elements ul{
  list-style-type:circle;
}

#additional-elements ul ul{
  list-style-type:square;
}

#additional-elements dl{
  
}

#additional-elements dt{
  font-weight:bold;
  font-size:17px;
  margin-top:20px;
}

#additional-elements dd{
  margin:0;
}

/* Adjacent Sibling Combinator*/

dd + dt{
  margin-top:20px;
}

blockquote{
  background:palevioletred;
  padding: 20px 30px;
  border:5px double slateblue;
  border-radius:15px;
  font-size:17px;
  color:white;
}

blockquote cite{
  display:block;
  text-align:right;
  font-weight:bold;
  font-size:12px;
  padding-top:10px;
}

body{
  font-family: 'Indie Flower', sans-serif;
  margin:0;
  line-height:1.5;
}

header.primary{
  background:slateblue;
  background-color:#e5dbe4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23cc3939' fill-opacity='0.20'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  text-align:center;
  color:orchid;
  text-shadow: 1px 1px #000000;
  /* T,R,B,L */
  padding:40px 40px 20px 40px;
}

header.primary h1{
  font-size:45px;
}

header.primary h1 a{
  color:mediumpurple;
  text-decoration:none;
}

header.primary h2{
  font-size:27px;
}

header.primary nav{
  background:thistle;
  width:80vw;
  margin:20px auto;
  max-width:1040px;
}
header.primary nav ul{
  text-decoration:none;
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul li a{
  color:midnightblue;
  text-decoration:none;
  background-color:#ffffff;
  padding:4px 14px;
  border-radius: 15px;
  transition:.2s;
}

header.primary nav a:hover,
header.primary nav a:active{
  background-color:rgba(0,0,0,.6)
}

#intro{
  border-bottom:1px dashed indigo;
  padding-bottom:1rem;
}

#intro h2{
  color:lightcoral;
}

#intro p{
  
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

#content article.post{
  width:30%;
  box-shadow:0 4px 8px rgba(0,0,0,.3);
  padding:3%;
  font-size:13px;
  border-radius:15px;
  transition:.7s;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.5);
}

article.post figure{
  margin:0;
}

article.post time, article.post figcaption, article.post .post-meta{
  font-size:12px;
  text-transform:uppercase;
  color:blueviolet;
}

article.post img{
  border-radius:15px;
}

article.post a{
    color:palevioletred;
}

article.post a:hover, article.post a:active{
  text-decoration:none;
}

#additional-elements h2{
  color:#000000;
  border-bottom:2px dotted #da70d6;
}

#additional-elements a:link, #additional-elements a:visited{
  color:mediumpurple;
}

#additional-elements a:hover, #additional-elements a:active{
  text-decoration:none;
}

/*Attribute Selectors*/

aside[role="complementary"]{
  background-color:#db7093;
  color:white;
  padding:5px;
}

aside .container{
  display:flex;
  justify-content:space-between;
}

aside article.widget{
  width:45%;
}

aside a:link{
  color:white;
  display:block;
}

aside article.widget footer{
  display:none;
}

#colophon{
  background-color:khaki;
}

#colophon h6{
  padding:7px;
  margin:0;
  text-align:center;
  font-size:15px;
  text-transform:capitalize;
  text-shadow: 0px 2px #000000;
}

/* Media Query Example */

@media screen and (max-width:590px) {
  
  header.primary nav ul{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin:0 auto;
    width:50vw;
  }
  
  header.primary nav a{
    display:block;
    margin-top:15px;
  }
  
  header.primary nav li{
    margin-bottom:10px;
  }
  
}