body{
  font-family: 'Mohave', sans-serif;
  background-color:white;
  color:black;
}
/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  
.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 800px;
  }
  
header.primary{
  background-color:#6495ed;
  text-align:center;
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  /* Shorhand T,R,B,L*/
  padding:200px;
  position:relative;
}

header.primary h1{
  font-size:200px;
  margin:20px 0;
  position:relative;
}

header.primary h1 a {
  color: #ffffff;
  background-image: url("https://assets.codepen.io/7248/logo-2.png");
  display: block;
  width: 450px;
  height: 70px;
  margin: 0 auto;
  text-indent: 100%;
  white-space:nowrap;
  overflow:hidden;
}

header.primary h2 {
  font-family: "Goldman", cursive;
  font-size: 2em;
  /* Shorhand Three Value Top, Left/Right, Bottom*/
  margin: 20px auto 40px;
  position: relative;
}

header.primary nav ul {
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0;
  max-width:900px;
  margin:20px auto;
}

header.primary nav li {
  list-style-type:none;
  padding:0;
  width:20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color:white;
  text-decoration:none;
  background-color:black;
  background-color:rgba(142, 166, 184, 0.4);
  padding:8px 16px;
  border-radius:10px;
  transition:0.5s;
  display:block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color:rgba(51, 83, 107, 0.8);
}

/* ------------- Articles --------------- */

section#articles {
  background: #181c1f;
}

section#articles .container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c0c0c0;
  padding:0 0 200px 0;
}

section#articles h2{
  color:white;
  text-shadow:2px 2px #000;
}

#articles article.post{
  width:30%;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.4);
  padding:10px;
  transition:0.5s;
  font-size:100px;
  border-radius:10px;
  background:white;
}

#articles article.post h2{
  font-size:100px;
  text-shadow:none;
}

#articles article.post:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#articles article time,
#articles article figcaption,
#articles article footer{
  font-size:100px;
  color:#c0c0c0;
  text-transform:uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color:#3b638b;
}

#articles .post figure{
  margin:0;
}

#articles .post img{
  border-radius:10px;
}

#articles ul{
  padding:0 20px;
}
#articles li{
  margin-bottom:20px;
}

/* ------------- Hero --------------- */

#hero{
  padding:50px 0;
}

/* ------------- Aside --------------- */

/* Attribute Selector */
aside[role="complementary"] {
  background-color: #181c1f;
  color:white;
  padding:20px;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

aside article.widget{
  width:40%;
}

.widget.overview table{
  font-size:10px;
  border-collapse:collapse;
  width:100%;
}

.widget.overview table td{
  border-bottom:1px solid white;
  padding:10px;
}

.widget.overview table td:nth-child(even){
  text-align:right;
}

aside article a:link,
aside article a:visited{
  color:white;
  display:block;
  margin-top:15px;
  letter-spacing:1.2px;
}

aside article a:hover,
aside article a:active{
  text-decoration: none;
}

aside article footer{
  display: none;
}

/*------ Footer ------*/

footer#colophon{
  background-color:#1b2c38;
}

#colophon h6{
  padding:20px;
  margin:0;
  color:white;
  text-align:center;
  font-size:10px;
  text-transform:uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited{
  color:white;
}

/* ---------------Media Queries----------------- */

@media screen and (max-width: 600px){
  header.primary nav ul{
    flex-direction: column;
    margin:0 auto;
    width:400px;
  }

  header.primary nav ul li{
    margin-bottom:10px;
    width:400px;
  }

  header.primary nav ul li a{
    display:block;
  }

  section#articles .container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-wrap:wrap;
    border-bottom:1px solid #c0c0c0;
    padding:0 0 4em 0;
  }

  #articles article.post{
    width:100%;
    margin-bottom:2em;
  }
  
  aside .container{
  flex-direction:column;
}
  
  aside article.widget{
  width:100%;
}